.table{
    background-color: black;
    color:white;
}

#jumbo{
    background-color: antiquewhite;
    color: black
}
#myfirstchart{
    background-color: white;
}

#Graphic{
  width: 80%;
  height: 90vh;
  margin: auto;
}
